/* contact.css */

/* Overall Section 
/* .right-0.5 {
    margin-right: 0.5rem;
  }
   */
  /* Form Container Styling */
  /* .bg-[#72787a] {
    background-color: #72787a;
  } */
  
  /* Input and Textarea Styling */
  /* input,
  textarea {
    border-radius: 10px;
  }
  
  /* Button Styling */
  /* button {
    cursor: pointer;
  }
  
  /* Responsive Design (Optional) */
  /* @media (max-width: 768px)
   {
    /* Adjust layout for smaller screens */
    /* .p-12 {
      padding: 8px;
    }
   */ 
